table {
	border-collapse: collapse;
}
td, th {
	border: solid 1px black;
	padding: 6px 10px;
}
td.empty {
	text-align: center;
	color: #aaa;
}

/* tabs */
li.active {
	font-weight: bold;
}
.tab:not(.active) {
	display: none;
}

/* series */
tr.active {
	color: green;
}
tr.inactive {
	color: red;
}
tr.watching {
	font-weight: bold;
}

button > img {
	margin-left: .5em;
}
button:not(.loading) > img {
	display: none;
}
